<tr class="env-row {{envClass}} {{activeClass}}" data-env-id="{{id}}" style="border-left: 4px solid {{borderColor}};">
    <td class="env-name-cell">
        <div class="env-name">
            <span class="status-dot {{type}} {{activeStatus}}">{{iconHTML}}</span>
            {{name}}
            <button class="pin-btn {{pinnedClass}}" data-id="{{id}}" title="{{pinTitle}}" tabindex="0">
                {{pinIcon}}
            </button>
        </div>
        {{line2HTML}}
        {{line3HTML}}
    </td>
    <td class="env-actions-cell">
        <div class="table-actions">
            <button class="icon-btn primary switch-btn" data-hostname="{{hostname}}" data-type="{{type}}"
                title="{{switchTitle}}">
                {{switchIcon}}
            </button>
            <button class="icon-btn edit-btn" data-id="{{id}}" title="Edit" tabindex="0">
                {{editIcon}}
            </button>
            <button class="icon-btn danger delete-btn" data-id="{{id}}" title="Delete" tabindex="0">
                {{deleteIcon}}
            </button>
        </div>
    </td>
</tr>