<tr class="shortcut-row" data-shortcut-id="{{id}}" data-url="{{url}}">
    <td class="shortcut-icon-cell">
        <span class="shortcut-icon">{{displayIcon}}</span>
    </td>
    <td class="shortcut-name-cell">
        <div class="shortcut-name">
            <span>{{name}}</span>
            <button class="pin-btn {{pinnedClass}}" data-id="{{id}}" data-type="shortcut" title="{{pinTitle}}"
                tabindex="0">
                {{pinIcon}}
            </button>
        </div>
        {{notesHTML}}
    </td>
    <td class="shortcut-actions-cell">
        <div class="table-actions">
            <button class="icon-btn primary go-btn" data-url="{{url}}" title="Open shortcut" tabindex="0">
                {{goIcon}}
            </button>
            <button class="icon-btn edit-btn" data-id="{{id}}" title="Edit" tabindex="0">
                {{editIcon}}
            </button>
            <button class="icon-btn danger delete-btn" data-id="{{id}}" title="Delete" tabindex="0">
                {{deleteIcon}}
            </button>
        </div>
    </td>
</tr>